@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Story+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  }
  
  body {
    background-color: #522a80;
    overflow-x: hidden;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 8vw;
    background-color: white;
    border-radius: 5px;
    margin: 20px auto;
  }
  
  /* ===== MENU LATERAL ===== */
  .nav-header {
    display: none; 
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 4px 8px 4px 8px rgba(0, 0, 0, 0.2);
    width: 22vw;
    height: 50vw;
    padding: 20px;
    z-index: 500;
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 5px;
    right: 0;
  }
  
  #ul-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 9999;
    margin-top: 5vw;
  }

  #i-nav{
margin: 10px;
}

  
  #ul-nav li {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    
  }
  
  #ul-nav li:hover {
    background-color: #c0c0c0;
  }
  .li-nav a {
    text-decoration: none;
    color: black;
  }
  
  .logo {
    width: 8vw;
    height: 8vw;
    margin-left: 10px;
  }
  
  .ri-menu-line {
    font-size: 1.5vw;
    margin-right: 2vw;
    cursor: pointer;
    background-color: white;
  }
  
  .ri-menu-line:hover {
    background-color: lightgrey;
    border-radius: 5px;
  }
  
  .div-menu-line {
    background-color: white;
  }
  
  #div-close {
    position: absolute;
    background-color: #d9d9d9;
    right: 3vw;
    top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
  }
  
  #close-nav {
    display: none;
    font-size: 30px;
    cursor: pointer;
    background-color: #d9d9d9;
  }
  
  
  main {
    width: 90vw;
    height: 60vw;
    background-color: #3e006a;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-self: center;
    background-image: url(/background_chat/fundo_chat_humanas.png);
    height: 80vw;
    width: 70vw;
    margin-top: 2vw;
    border-radius: 10px;
    padding: 20px;
  
  }

  .span-input{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 70vw;
    height: 55vw;
    border-radius: 50px;
    gap: 10px;
  }
#submit-document {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  gap: 10px;

}

#span-btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-add-document {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-add-document img {
  width: 2rem;
  height: 2rem;
}

  #input-add-document{
   display: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.30);
    width: 20vw;
    height: 3vw;
    padding-left: 20px;
    font-weight:lighter;
    border: none;
    transition: 0.5s;
    font-size: 15px;
    color: #7C7C7C;
  }

  #btn-add-document:hover{
    background-color: #3e006a;
    box-shadow: 4px 4px 6px #3e006a;
  }

  button{
    background-color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    transition: 0.5s;
    border-radius: 40%;
  }
  
  button:hover{
    background-color: #3e006a;
    box-shadow: 4px 4px 6px #3e006a;
  } 
  
#btn-submit img{
  width: 2rem;
  height: 2rem;
}
#btn-submit{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}

#input-submit{
  background-color: white;
  align-self: end;
  border-radius: 50px;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.30);
  width: 564px;
  height: 47px;
  flex-shrink: 0;
  padding-left: 20px;
  font-weight: 800;
  border: none;
  transition: 0.5s;
  }

  #input-submit::placeholder{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #7C7C7C;
  }
 #input-submit:focus{
    transition: 0.5s;
    outline: none;
    background: #f5f5f5;
    box-shadow: 4px 4px 6px #522a80;
  }
  #input-submit:hover{
    transition: 0.5s;
    transform: translate(-5px);
  
  }
  
  
  label{
    background-color: white;
  }
  
  footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  width: auto;
  height: 4vw;
  border-radius: 60px  60px 0 0;

}

#links-footer{
display: flex;
gap: 15px;
margin: 4vw;
color: #000;
}
.a-footer{
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #000;
  font-family: "Story Script", sans-serif;
  font-size: 20px;

}
#footer-copy{
  font-family: "Story Script", sans-serif;
  font-size: 20px;
}
.a-footer:hover{
  color: grey;
  border-bottom: 2px solid grey;
}

#div-icon-footer{
display: flex;
justify-content: center;
width: 10vw;
gap: 15px;
}
#icons-footer{
  font-size: 25px;
  cursor: pointer;


}